<ion-view class="comofunciono-view" cache-view="false">
  <ion-content scroll="true">
  <div class="bar bar-header bar-positive">
  <h1 class="title white">¿Cómo funcionó?</h1>
</div>

<ion-slide-box>
   <ion-slide>
      <div class="box box1">
         <img src="img/gps.jpg">
         <p class="titulo">Identificar</p>
         <p class="parrafo">Podrás Buscar Luminaria por numero de folio.</p>
         <br>
         <br>
         <br>
      </div>
   </ion-slide>

   <ion-slide>
      <div class="box box2">
          <img src="img/UbicacionesDepIcon.png">
          <p class="titulo">En Ubicacion</p>
         <p class="parrafo">se habilita el GPS de tu dispositivo para mostrarte luminarias que esten cerca de tu ubicacion.</p>
         <br>
         <br>
      </div>
   </ion-slide>
   <ion-slide>
      <div class="box box3">
          <img src="img/lamp-post.png">
          <p class="titulo">Mantenimiento a Luminarias</p>
         <p class="parrafo">Podrás Listar reportes de luminarias para poder darle el mantenimiento.</p>
         <br>
         <br>
      </div>
   </ion-slide>
   <ion-slide>
      <div class="box box4">
          <img src="img/lamp-post.png">
          <p class="titulo">Mantenimiento en Ubicacion</p>
         <p class="parrafo">se habilita el GPS de tu dispositivo para mostrarte luminarias que esten reportadas cerca de tu ubicacion para darles mantenimiento.</p>
         <br>
         <br>
      </div>
   </ion-slide>
   <ion-slide>
      <div class="box box5">
          <img src="img/estadisticas.jpg">
          <p class="titulo">Estadisticas Luminarias</p>
         <p class="parrafo">podras ver un resumen grafico de luminarias reportadas.</p>
         <br>
         <br>
      </div>
   </ion-slide>
   <ion-slide>
      <div class="box box6">
        <img src="img/estadisticas.jpg">
        <p class="titulo">Estadisticas Mantenimiento</p>
        <p class="parrafo">Podras ver un resumen grafico del mantenimiento de luminarias atendidas.</p>
    <div class="col col-bottom row">
        <a class="facebook-sign-in button button-block" ng-click="terminado()">
          Entendido
        </a>
      </div>
         <br>
         <br>
      </div>
   </ion-slide>
</ion-slide-box>
  </ion-content>
</ion-view>