<ion-view class="geo-view">
  <ion-nav-title class="title" >
    <span class="white">SISGAP Mantenimiento</span>
  </ion-nav-title>
<ion-content class="backapp">
<label class="item item-input">
      <span class="input-label">No. Luminaria:</span>
      <input type="text"  ng-model="loginData.username">
    </label>
      <button class="button button-block button-positive" ng-click="buscar_luminaria()">Buscar</button>
<div id="map"></div>
<p id="leyenda" class="parrafo">Favor de Seleccionar una Luminaria a dar mantenimiento.</p>
<div ng-click="regist_mnto()"><button id="button" class="botonfoto centrar">Continuar Mantenimiento</button></div>

</ion-content>             
</ion-view>
