<ion-view class="home-view">
  <ion-nav-title class="title" >
    <span class="white">Sistema de Gestion de Alumbrado Publico</span>
  </ion-nav-title>

<ion-content class="card-background-page">

  <ion-card class="div-card" ng-click="pagrep()">
    <img src="img/reporte.jpg"/>
    <div class="card-title">Reportes</div>
    <div class="card-subtitle">Reportar luminaria</div>
  </ion-card>

  <ion-card class="div-card" ng-click="qrscanner()">
    <img src="img/alumbrado_publico_man.jpg"/>
    <div class="card-title">Mantenimiento</div>
    <div class="card-subtitle">Reparacion de Luminarias reportadas.</div>
  </ion-card>

  <ion-card class="div-card" ng-click="pagsind()">
    <img src="img/estadisticas.jpg"/>
    <div class="card-title">Estadisticas</div>
    <div class="card-subtitle">Estadisticas sistema de gestion.</div>
  </ion-card>


    </ion-content>             
</ion-view>
