<ion-view class="reporte-view">
  <ion-nav-title class="title" >
    <span class="white">SISGAP Mantenimiento</span>
  </ion-nav-title>

<ion-content class="backapp">

<ion-card class="div-card" ng-click="reportelum()">
    <img src="img/reporte.jpg"/>
    <div class="card-title">Luminarias Listado</div>
    <div class="card-subtitle">Listado de Reportes por antender</div>
  </ion-card>

  <ion-card class="div-card" ng-click="reportebasura()">
    <img src="img/gps.jpg"/>
    <div class="card-title">Luminarias en Ubicacion</div>
    <div class="card-subtitle">Mapa en Ubicacion.</div>
  </ion-card>

  <ion-card class="div-card" ng-click="reportebaches()">
    <img src="img/mantenimiento.jpg"/>
    <div class="card-title">Instalacion de Luminaria Nueva</div>
    <div class="card-subtitle">Mapa en Ubicacion.</div>
  </ion-card>

    </ion-content>             
</ion-view>