<ion-view class="reporte-view">
  <ion-nav-title class="title" >
    <span class="white">SISGAP Reportes</span>
  </ion-nav-title>

<ion-content class="backapp">

<ion-card class="div-card" ng-click="reportetransporte()">
    <img src="img/apagada.jpg"/>
    <div class="card-title">Luminarias</div>
    <div class="card-subtitle">Reportar por numero de luminaria</div>
  </ion-card>

  <ion-card class="div-card" ng-click="reportelum()">
    <img src="img/gps.jpg"/>
    <div class="card-title">Luminarias</div>
    <div class="card-subtitle">Reportar en Ubicacion.</div>
  </ion-card>


    </ion-content>             
</ion-view>